.profile_container {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
}

.SignInUp_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left:130px;
}

.loginNav{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid rgb(199, 194, 194);
    border-radius: 5px;
    background-color: rgba(89, 91, 94, 0.979);
    color: white;
    height: 60px;
    margin-left: 210px;
    margin-top: 80px

}

.signInOUT{
    margin-top: 18px;
    margin-left: 300px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
}

.logoSIO{
    font-size: 15px;
    margin-top: 18px;
    margin-right: 490px;
}