.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    background-color: rgba(39, 43, 48, 0.979);
    color: rgb(223, 215, 215);
    padding: 3px 0 0 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: baseline;
    position: sticky;
    top:0
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 0.5px 3px !important;
    border: none !important;
}

.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
   right: -15px !important;
}

.css-bpeome-MuiSvgIcon-root-MuiSelect-icon {
    right: -15px !important;
}

.navList{
    display: flex;
    gap: 30px;
    margin-left: 700px;
    margin-top: 20px;
    padding: 0;
    list-style-type: none;
}

.logo {
    margin-left: 150px;
    margin-top: 25px;
    font-size: 17px;
    cursor: pointer;
}


li {
    margin-left: 15px;
    padding: 10px;
    font-size: 15px;
    box-sizing: border-box;
    cursor: pointer;
}

.navCart{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-right: 10px;
}

.profile {
    display: flex;
    margin-right: 60px;
    font-size: 15px;
    color: rgb(223, 215, 215);
}

.profile:hover {
    cursor: pointer;
}

